@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-box {
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(224, 221, 221);
    width: 500px;
    height: 700px;
    border-radius: 18px;
}
.general-info, .edu-info, .pract-info {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 0;
    padding: 5px 0px 10px 0px;
    font-size: 1.2rem;
    border: none;
} 
.general-info > input, .edu-info > input, .pract-info > input {
    font-family: 'Roboto';
    margin-bottom: 10px;
    width: 99%;
    height: 30px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
}
#dos {
    color: rgb(91, 88, 88);
    font-size: 0.9rem;
}
#dos-in {
    font-family: 'Roboto';
    margin-bottom: 10px;
    width: 74%;
    height: 30px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
}
#start-date {
    font-family: 'Roboto';
    margin-bottom: 10px;
    width: 66%;
    height: 30px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
}
#finish-date {
    font-family: 'Roboto';
    margin-bottom: 10px;
    width: 90%;
    height: 30px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
}
.prev {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 0;
    padding: 5px 0px 10px 0px;
    font-size: 1.2rem;
    border: none;
}
.btn {
    width: 99%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: grey;
    color: white;
    font-size: 1.1rem;
    font-family: 'Roboto';
    cursor: pointer;
}
@media screen and (max-width: 400px) {
    .form-box {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: rgb(224, 221, 221);
        width: 400px;
        height: 250vi;
        border-radius: 0;
    }
    .general-info, .edu-info, .pract-info {
        font-size: 1.3rem;
    } 
    .general-info > input, .edu-info > input, .pract-info > input {
        width: 99%;
        height: 40px;
        border-radius: 10px;
        font-size: 0.9rem;
    }
    #dos-in {
        width: 73%;
        height: 40px;
        border-radius: 10px;
    }
    #start-date, #finish-date {
        height: 40px;
        border-radius: 10px;
    }
}